@model PROG6212_PART2_ST10396724.Models.Claim

<h1>Invoice</h1>
<p><strong>Lecturer Name:</strong> @Model.lecturer?.LecturerName</p>
<p><strong>Claim ID:</strong> @Model.ClaimID</p>
<p><strong>Hours Worked:</strong> @Model.hoursWorked</p>
<p><strong>Hourly Pay:</strong> @Model.hourlyPay</p>
<p><strong>Total Contract Value:</strong> @Model.ContractValue</p>
